In [250]:
import re
import numpy as np
import pandas as pd

In [251]:
df = pd.read_csv('avto4.csv')

In [252]:
df.drop(['web-scraper-order', 'web-scraper-start-url', 'pages-href'], axis=1, inplace=True)

In [253]:
df['cost'] = df['cost'].str.replace(' ', '').astype('int')

df['volume'] = df['volume'].str.replace(' см3', '').astype('int')

df['run'] = df['run'].str.replace(' км', '')
miles_mask = df['run'].str.endswith(' миль')
df.loc[miles_mask, 'run'] = df[miles_mask]['run'].str.replace(' миль', '').astype('int') * 1.60934
df['run'] = df['run'].astype('int')

df['today_views'] = df['show'].str.extract('\+(.+) ')

df['show'] = df['show'].str.extract('(.*)' + ' '*25)
df.rename(columns={'show': 'all_views'}, inplace=True)

today_view_mask = pd.isna(df['today_views'])
df.loc[today_view_mask, 'today_views'] = df[today_view_mask]['all_views']

In [254]:
df.head(1)

,pages,name,year,cost,state,run,fuel,color,volume,cuzov,transmission,drive-unit,region,update,all_views,table,today_views
0,BMW 7 серия E38 M67d4.0,"BMW 7 серия E38 M67d4.0, 2000",2000,5200,с пробегом,280000,дизель,серый,4000,седан,Автомат,Задний,"Барановичи, Брестская обл.",Опубликовано\n \n ...,833,Дополнительные опции:\n ...,43

In [ ]:
df[]